/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Roboto', sans-serif;
}

body {
  font: 1em/1.5;
  color: #243B53;
	background: #F0F4F8;
}

header {
	text-align: center;  
}

h1 {
	font-size: 2.5em;
	color: #14919B;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
}

h3 {
	color: #829AB1;
	font-weight: normal;
	margin-bottom: 0.25em;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	margin-bottom: 7em;
	background: #fff;
	box-shadow: 0px 10px 20px hsla(211, 39%, 23%, 0.2);
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: 500;
	color: #38BEC9;
	padding-top: .5em;
	border-top: 2px solid #F0F4F8;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #486581;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	color: #243B53;
	padding: 8px 10px;
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	color: #627d98; 
	padding: .8em;
	background: #F0F4F8;
	border: 2px solid #F0F4F8;
	outline: none;
}

input:focus {
	color: #102A43;
	background: #fff;
	border-color: #38BEC9;
	box-shadow: 0px 3px 5px hsla(211, 39%, 23%, 0.2);
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #FFFBEA;
	padding: .55em 1.25em;
	background: #B44D12;
	margin: 1.25em 0 .5em;
	cursor: pointer;
}

button:hover {
	background: #DE911D;
	box-shadow: 0px 3px 5px hsla(211, 39%, 23%, 0.2);
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

#total {
	display: flex;
	align-items: flex-start;
	color: #0E7C86;
}
	#js-sum {
		font-size: 3em;
		line-height: 0.9;
	}

	.unid {
		font-size: 1.5em;
		font-weight: lighter;
		color: #54D1DB;
	}

/* ================================= 
  Helper Classes
==================================== */

.error-legend {
	color: #BC0A6F;
}

.error-input {
	border-color: #E8368F;
	background-color: white;
	/*box-shadow: 0px 3px 5px hsla(211, 39%, 23%, 0.2);*/
}

.message {
	font-size: 14px;
	color: #DE911D;
	text-align: right;
  	margin-top: 0px;
  	margin-bottom: 0.5rem;
}
.message-error { 
	color: #E8368F;
}

.selected-checkbox {
	color: #102A43;
	font-weight: bold;
}

.disabled-checkbox {
	color: #BCCCDC;
}

.credit-card > label {
	width: 100%;
	display: flex;
}

#payment-error,
#total-error {
	text-align: left;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	form {
		margin-bottom: 0px;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}